/* html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
div {
  align-items: center;
  text-align: center;
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  /* display: flex; */
  justify-content: center;
  align-items: center;
}


.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  align-items: center;
}

/* specific rules for button*/
.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.btn-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  /* background-color: rgba(255,255,255,0.1); */
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  /* background-color: rgba(255,255,255,0.1); */
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  /* background-color: rgba(255,255,255,0); */
}
.btn-two:hover::after {
  transform: rotate(45deg);
  /* background-color: rgba(255,255,255,0); */
}







/*buttons for white background*/
.btn-three {
  color: black;
  transition: all 0.5s;
  position: relative;
}
.btn-three span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(2, 2, 2, 0.993);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-three:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn-three:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }


  /*css for success page*/


  .yas5 {
    position: relative;
    margin: 30px auto;
    display: block;
    width: 305px;
    height: 277px;
  }
  .yas5 .All {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
  }
  
  .yas5 .svgWrapper {
    position: absolute;
    width: 305px;
    height: 277px;
    position: absolute;
    top: 0px;
    left: 0px;
    trtan
  }
  
  .yas5 .tickC {
    position: absolute;
    fill: none;
    stroke: #0a2f73;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 304;
    stroke-dashoffset: 0;
    animation-name: yatickC0;
    animation-duration: 490ms;
    animation-delay: 1368ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
  }
  
  @keyframes yatickC0 {
    0% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      stroke-dashoffset: 304;
    }
    100% {
      animation-timing-function: linear;
      stroke-dashoffset: 0;
    }
  }
  
  .yas5 .tick-B {
    position: absolute;
    fill: none;
    stroke: red;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 304;
    stroke-dashoffset: 0;
    animation-name: yatick-B0;
    animation-duration: 492ms;
    animation-delay: 1237ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
  }
  
  @keyframes yatick-B0 {
    0% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      stroke-dashoffset: 304;
    }
    100% {
      animation-timing-function: linear;
      stroke-dashoffset: 0;
    }
  }
  
  .yas5 .tick-gray {
    position: absolute;
    fill: none;
    stroke: #ECECEC;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 304;
    stroke-dashoffset: 0;
    animation-name: yatick-gray0;
    animation-duration: 476ms;
    animation-delay: 1037ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
  }
  
  @keyframes yatick-gray0 {
    0% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      stroke-dashoffset: 304;
    }
    100% {
      animation-timing-function: linear;
      stroke-dashoffset: 0;
    }
  }
  
  .yas5 .circleDarkBlue {
    position: absolute;
    fill: none;
    stroke: #0a2f73;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: 138px 138px;
    stroke-dasharray: 675;
    animation-name: yacircleDarkBlue0, yacircleDarkBlue1;
    animation-duration: 1017ms, 1029ms;
    animation-delay: 570ms, 578ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940), cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both, both;
  }
  
  @keyframes yacircleDarkBlue0 {
    0% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: rotate(-180deg);
    }
    100% {
      animation-timing-function: linear;
      transform: rotate(0deg);
    }
  }
  
  @keyframes yacircleDarkBlue1 {
    0% {
      animation-timing-function: ease-in-out;
      stroke-dashoffset: -675;
    }
    100% {
      animation-timing-function: linear;
      stroke-dashoffset: 0;
    }
  }
  
  .yas5 .circleLightBlue {
    position: absolute;
    fill: none;
    stroke: red;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: 138px 138px;
    stroke-dasharray: 675;
    animation-name: yacircleLightBlue0, yacircleLightBlue1;
    animation-duration: 1017ms, 1029ms;
    animation-delay: 359ms, 357ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940), cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both, both;
  }
  
  @keyframes yacircleLightBlue0 {
    0% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: rotate(-180deg);
    }
    100% {
      animation-timing-function: linear;
      transform: rotate(0deg);
    }
  }
  
  @keyframes yacircleLightBlue1 {
    0% {
      animation-timing-function: ease-out;
      stroke-dashoffset: -675;
    }
    100% {
      animation-timing-function: linear;
      stroke-dashoffset: 0;
    }
  }
  
  .yas5 .circleGray {
    position: absolute;
    fill: none;
    stroke: #ECECEC;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: 138px 138px;
    stroke-dasharray: 675;
    animation-name: yacircleGray0, yacircleGray1;
    animation-duration: 1017ms, 1029ms;
    animation-delay: 128ms, 128ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940), cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both, both;
  }
  
  @keyframes yacircleGray0 {
    0% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: rotate(-180deg);
    }
    100% {
      animation-timing-function: linear;
      transform: rotate(0deg);
    }
  }
  
  @keyframes yacircleGray1 {
    0% {
      animation-timing-function: ease-in-out;
      stroke-dashoffset: -675;
    }
    100% {
      animation-timing-function: linear;
      stroke-dashoffset: 0;
    }
  }